{% extends 'base.html' %}
<!-- Display the board using a Jinja Template -->
<!-- Use the boggle.py file to generate a board and send to the jinja template -->
{% block content %}

<div class="container">
    <p class="lead">Instructions:</p>
    <p class="lead">Try to score the highest points total. To gain points, create words from the letters in the grid.</p>
    <p class="lead">You can use adjacent letters as well as diagonals. The letters must connect to each other in the proper sequence to spell the word correctly (excluding any letters previously used to construct the word).</p>


<form action="/board" method="GET">
    <button type="submit" class="btn btn-primary">Play!</button>
</form>
</div>

{% endblock %}